.App {
        width: 100%;
        margin: 16px auto;
        border: 1px solid #eeeeee;
        -webkit-box-shadow: 0px 2px 3px #cccccc;
        box-shadow: 0px 2px 3px #cccccc;
        padding: 16px;
        text-align:-webkit-left;
         font-family: "Arial", Times, Sans-serif;
      }
.img-thumbnail {

 width:900px;
        height:3px;


}
.font{
        text-align: left;
        font-family: "Georgia", Times,  serif;
}
.s{

        align-content: center;
}
.center {
    margin: auto;
    width: 60%;

    padding: 10px;
}
.d {

    height:800px;
    width:999px;
}